div {
  margin: 1rem 0rem;
}
.container {
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}
.intro {
  margin-top: 40px;
  border: 3px solid rgb(130, 210, 241);
  padding: 34px 44px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.pic {
  background-image: url('../../public/Images/cleaningtab.png');
  background-position: center;
  margin-top: 30px;
  height: 200px;
  width: 550px;
}

.clean {
  margin-top: 5%;
  display: grid;
  grid-template-areas: 'a a a a';
  gap: 30px;
  grid-auto-rows: 200px;
  justify-content: space-between;
}

.cleanCol {
  flex-basis: 24%;
  background: rgb(130, 210, 241);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 30px;
  box-sizing: border-box;
  transition: 0.5s;
}

h11 {
  font-size: 50px;
  font-weight: 500;
}
h12 {
  font-weight: 375;
  margin: 10px 0;
  font-size: 20px;
}
h13 {
  font-weight: 600;
  margin: 10px 0;
}
h14 {
  font-weight: 600;
  margin: 10px 0;
}
h15 {
  font-weight: 600;
  margin: 10px 0;
}
h16 {
  font-weight: 600;
  margin: 10px 0;
}
h17 {
  font-weight: 600;
  margin: 10px 0;
}
h18 {
  font-weight: 600;
  margin: 10px 0;
}
h19 {
  font-weight: 600;
  margin: 10px 0;
}
h20 {
  font-weight: 600;
  margin: 10px 0;
}
p {
  font-weight: 300;
  margin: 10px 0;
}

.cleanCol:hover {
  box-shadow: 0 0 20px 0px rgba(2, 52, 82, 0.966);
}
