div {
  margin: 1rem 0rem;
}
.container {
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}
.intro {
  margin-top: 20px;
  border: 3px solid rgb(130, 210, 241);
  padding: 14px 44px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.pic {
  background-image: url('../../public/Images/furn.png');
  background-position: center;
  margin-top: 1px;
  height: 310px;
  width: 610px;
}

.furniture {
  margin-top: 1%;
  display: grid;
  grid-template-areas: 'a a a a';
  gap: 30px;
  grid-auto-rows: 200px;
  justify-content: space-between;
}

.furnitureCol {
  flex-basis: 24%;
  background: rgb(130, 210, 241);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 30px;
  box-sizing: border-box;
  transition: 0.5s;
}

h29 {
  font-size: 50px;
  font-weight: 500;
}
h30 {
  font-weight: 375;
  margin: 10px 0;
  font-size: 20px;
}
h31 {
  font-weight: 600;
  margin: 10px 0;
}
h32 {
  font-weight: 600;
  margin: 10px 0;
}
h33 {
  font-weight: 600;
  margin: 10px 0;
}
h34 {
  font-weight: 600;
  margin: 10px 0;
}
h35 {
  font-weight: 600;
  margin: 10px 0;
}
h36 {
  font-weight: 600;
  margin: 10px 0;
}
h37 {
  font-weight: 600;
  margin: 10px 0;
}
h38 {
  font-weight: 600;
  margin: 10px 0;
}
p {
  font-weight: 300;
  margin: 10px 0;
}

.furnitureCol:hover {
  box-shadow: 0 0 20px 0px rgba(2, 52, 82, 0.966);
}
