div {
  margin: 1rem 0rem;
}
.container {
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
  .login {
    text-decoration: none;
    color: black;
    border: 3px solid rgb(130, 210, 241);
    padding: 34px 44px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    display: block;
    margin-top: 45px;
  }

  h10 {
    color: black;
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    padding-bottom: 35px;
  }

  .back {
    display: block;
    margin: 0 auto;
    background-image: url('../../public/Images/UserProfile.png');
    background-position: center;
    margin-top: 30px;
    height: 120px;
    width: 150px;
  }
  .questions input,
  .questions textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #eeebeb;
  }
}
