div {
  margin: 1rem 0rem;
}
.container {
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}
.intro {
  margin-top: 20px;
  border: 3px solid rgb(130, 210, 241);
  padding: 14px 44px;
  background: transparent;
  cursor: pointer;
  display: block;
}
.officefurn {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  border: 3px solid rgb(130, 210, 241);
  width: 1000px;
  height: 700px;
}
th {
  border-bottom: 3px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  font-size: 22px;
  font-weight: 550;
}
td {
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
h79 {
  font-size: 50px;
  font-weight: 500;
}
h80 {
  font-weight: 375;
  margin: 10px 0;
  font-size: 25px;
}
h96 {
  font-weight: 375;
  margin: 10px 0;
  font-size: 20px;
}
.subbutton {
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px solid black;
  padding: 14px 34px;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.subbutton:hover {
  border: 1px solid black;
  background: rgb(130, 210, 241);
  transition: 1s;
}
